/config/
/cover/
/admin/xml/*.xml
counter.txt
/install/install.lock
.vscode
replace_requires.py
delete_requires.py
test.php
update.sql
*.backup.php
admin/xml/import_20250627_084632.xml
admin/xml/debug_20250720_082206.xml
admin/xml/debug_import_20250720_084848.xml
admin/xml/import_20250627_085224.xml
admin/xml/import_20250719_080612.xml
admin/xml/import_20250719_145258.xml
admin/xml/import_20250719_145920.xml
admin/xml/import_20250719_193616.xml
admin/xml/import_20250719_194524_687bd9b42f882.xml
admin/xml/import_20250719_233725_687c1015080f7.xml
admin/xml/import_20250719_234253.xml
admin/xml/import_20250719_234431.xml
admin/xml/import_20250720_082003.xml
admin/xml/import_20250720_082744.xml
admin/xml/import_20250720_084716.xml
admin/xml/import_20250720_090647.xml
admin/xml/import_20250720_090919.xml
admin/xml/import_20250720_110633.xml
update.sql
test.php
admin/debug_backup.php
admin/debug_update.php
admin/debug-emergency.php
idee.md
sync_config.jsonc
release-notes-v1.4.7.html
debug-update.php
debug-500.php
debug-index.php
admin/.install.lock
admin/pages/settings_backup_ohne_tmdb.php
.idea/workspace.xml
.idea/vcs.xml
.gitignore
.idea/modules.xml
.idea/php.xml
.idea/dvdprofiler.liste.iml

composer.json
composer.lock
.github/copilot-instructions.md
